---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Blog Posts">
  <ul>
    <li><a href="/blog/post-1">My First Post</a></li>
    <li><a href="/blog/post-2">Another Post</a></li>
  </ul>
</BaseLayout>
