---
title: "Spain Travel Notes"
date: "2025-07-28"
---

<article>
  <h1>Spain: Barcelona</h1>
  <p>Barcelona is one of those cities that feels effortlessly enjoyable with perfect, sunny weather. Every morning, we would grab fresh pastries from a bakery below the place we were staying at and take evening strolls towards the beach.</p>

  <p>Here, no one is in a hurry. People sit at cafes for hours, chatting or reading. It is both laid-back and artistic!</p>

  <p>If you're looking for a place that mixes beautiful architecture, beachside bliss, and amazing food, <em>Barcelona</em> is the place to visit.</p>
</article>
