---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Victoria's Astro Blog">
  <p>Welcome to my first site built with Astro!</p>
  <p>Click on the Blog link to read posts.</p>
</BaseLayout>