---
export interface Props {
  title: string;
  date: string;
  summary: string;
  href: string;
}
const { title, date, summary, href } = Astro.props;
---

<article class="post-card">
  <h2><a href={href}>{title}</a></h2>
  <p><strong>{date}</strong></p>
  <p>{summary}</p>
</article>
